.jumbotron{
    background-color: grey;
    color: black;
}
.card-store{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}
.btn{
    padding: 3px;
    background-color: green;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: azure;
    margin-bottom: 0;
    margin-top: 10px;
}
